
@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  


  background-image: url('https://i.imgur.com/K6aW1Hr.jpg'); 
  
  
  background-size: cover;
  

  background-attachment: fixed;

 

  color: rgb(0, 0, 0);
  font-family: "Roboto";


}


a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 900;
}



